@model HouseKitchenManager.Models.Member

<h3>Add Member</h3>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Name" class="form-control" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Choose Color</label>
        <input asp-for="ColorHex" type="color" class="form-control form-control-color" />
    </div>

    <button class="btn btn-primary">Save</button>
</form>
